<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup: Zero-Friction Free Online Mind Mapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="mind mapping, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="MindMup is a zero friction free online mind mapping tool. MindMup is free and aims to create the most productive online mind mapping canvas out there" />
    <% if settings.online? then %>
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="//mindmup.s3.amazonaws.com/lib/fortawesome/font-awesome.min.css"/>
    <% else %>
      <link href="/offline/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/offline/fortawesome/font-awesome.min.css">
    <% end %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.mindmup.com/feeds/posts/default" />
    <%= erb :analytics %>

    <% if settings.online? then %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
      <script src="//mindmup.s3.amazonaws.com/lib/jquery-ui-1.10.0.custom.min.js"/></script>
      <script src="//mindmup.s3.amazonaws.com/lib/jquery.base64.min.js"></script>
    <% else %>
      <script src="/offline/jquery.min.js"></script>
      <script src="/offline/underscore-min.js"></script>
      <script src="/offline/bootstrap.min.js"></script>
      <script src="/offline/jquery.base64.min.js"></script>
    <% end %>
  </head>
  <body>

    <div id='topbar' class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a id='logo-img' class="brand hidden-phone" href="/map/default" rel="tooltip" title="Mindmup Home">
            &nbsp;
          </a>
          <ul class="nav nav-collapse pull-left">
            <li> <a href="/map/new" ><i class="icon-lightbulb"></i> Create a Map</a> </li>
            <!--<li> <a href="#" ><i class="icon-user"></i> My Maps</a></li>-->

          </ul>
          <ul class="nav pull-right nav-collapse">
            <li class="menulink"> <div class="fb-like" data-href="http://facebook.com/mindmupapp" data-send="false"
              data-layout="button_count" data-width="100" data-show-faces="false"></div> </li>
            <li class="menulink"> <a href="https://twitter.com/mindmup" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow</a> </li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">About&nbsp;MindMup&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal"><i class="icon-coffee"></i>&nbsp;One-minute intro</a> 
              <li> <a href="#" data-target="#modalVote" data-toggle="modal"><i class="icon-bullhorn"></i>&nbsp;Vote on features</a> </li>
              <li><a href="#" class="menuterms"  data-target="#modalTerms" data-toggle="modal"><i class="icon-legal"></i>&nbsp;Legal info</a></li>
              <li> <a href="http://blog.mindmup.com" target="_blank"><i class="icon-rss"></i>&nbsp;News/Blog</a></li>
              <li> <a href="#" id="menuFeedback" data-target="#modalFeedback" data-toggle="modal"><i class="icon-comment"></i>&nbsp;Talk to Us</a> </li>
            </ul>

            </li>
          </ul>
        </div>
      </div>
      <%= erb :welcome_message%>
    </div>
    <div id="floating-toolbar" class="floating span2 well well-small">
      <span id="toolbarSave" class="hide pull-left">
        <button id="menuPublish" class="btn btn-primary">Save Map</button>
      </span>
      <button class="close pull-right"><i class="icon-resize-small"></i></button>
      <div id="toolbar-inner">
        <div class="toolbar" id="toolbarEdit">
          <ul class="unstyled">
            <li>
            <div class="btn-group">
              <button rel='tooltip' data-placement='bottom' data-title='Zoom&nbsp;in' class="btn scaleUp"><i class="icon-zoom-in"></i></button> 
              <button rel='tooltip' data-placement='bottom' data-title='Zoom&nbsp;out' class="btn scaleDown"><i class="icon-zoom-out"></i></button> 
              <button id="menuShortcuts" data-title='Keyboard shortcuts' class="btn">
                <img style="height:18px;" src="//<%=settings.s3_website%>/lib/img/keyboard_20px.png"></button> 
            </div>
            </li>
            <li>
            <div class="btn-group">
              <button id="menuAdd" rel='tooltip' data-placement='bottom' data-title='Add idea' class="btn addSubIdea"><i class="icon-plus" ></i></button> 
              <button id="menuEdit" rel='tooltip' data-placement='bottom' data-title='Edit idea' class="btn editNode"><i class="icon-pencil"></i></button> 
              <button id="menuDelete" rel='tooltip' data-placement='bottom' data-title='Delete idea' class="btn removeSubIdea"><i class="icon-trash"></i></button> 
            </div>
            </li>
            <li>
            <div class="btn-group">
              <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Export Map&nbsp;<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href='#' class="mapExport" data-format=".mup">MindMup</a> </li>
                <li><a href='#' class="mapExport" data-format=".mm">Freemind</a></li> 
              </ul>
            </div>
            </li>
          </ul>
        </div>
        <div class="toolbar"
          id="toolbarShare">
          <h5>Share this map</h5>
          <span class='st_email_large st_btn' displayText='Email'></span>
          <span class='st_twitter_large st_btn' displayText='Tweet'></span>
          <span class='st_facebook_large st_btn' displayText='Facebook'></span>
          <span class='st_googleplus_large st_btn' displayText='Google +'></span>
          <span class='st_reddit_large st_btn' displayText='Reddit'></span>
          <span class='st_evernote_large st_btn' displayText='Evernote'></span>
          <span class='st_linkedin_large st_btn' displayText='LinkedIn'></span>
          <span class='st_pinterest_large st_btn' displayText='Pinterest'></span>
          <p>... or just copy the URL </p>
        </div>
      </div>
    </div>
    <%= erb :about %>
    <%= erb :vote %>
    <%= erb :alert %>
    <%= erb :feedback %>
    <%= erb :terms_and_conditions%>
    <%= yield %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({tracking:'google',publisher: "<%=ENV["SHARETHIS_PUB"]%>"});</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
