<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup: Zero-Friction Free Online Mind Mapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="mind mapping, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="MindMup is a zero friction free online mind mapping tool. MindMup is free and aims to create the most productive online mind mapping canvas out there" />
    <link rel="shortcut icon" href="//<%=settings.s3_website%>/lib/img/favicon.ico" >
    <% if settings.online? then %>
      <link href="//mindmup.s3.amazonaws.com/lib/bootstrap-combined.min.css" rel="stylesheet" />
      <link href="//mindmup.s3.amazonaws.com/lib/fortawesome/font-awesome.min.css" rel="stylesheet" />
    <% else %>
      <link href="/offline/bootstrap-combined.min.css" rel="stylesheet" />
      <link href="/offline/fortawesome/font-awesome.min.css" rel="stylesheet" />
    <% end %>
    <link href="/mindmap.css?version=<%=settings.cache_prevention_key%>" rel="stylesheet" />
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
  </head>
  <body>
    <div id="topbar" class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a id="logo-img" class="brand hidden-phone" href="/default" rel="tooltip" title="Mindmup Home" data-category="Top Bar" data-event-type="Logo">&nbsp;</a>
          <ul class="nav nav-collapse pull-left">
            <li> <a href="/map/new" data-category="Top Bar" data-event-type="Create a Map"><i class="icon-lightbulb"></i>&nbsp;Create&nbsp;a&nbsp;Map</a> </li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Open Bookmarks">
              <i class="icon-user"></i>&nbsp;My&nbsp;Maps&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" id="listBookmarks">
				  <li><a href="#">Save a map and it will appear in this list</a></li>
                <li class="template" style="display:none"><a data-category="Top Bar" data-event-type="Bookmark click"></a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right nav-collapse">
            <li class="menulink"> <div class="fb-like" data-href="http://facebook.com/mindmupapp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div> </li>
            <li class="menulink"> <a href="https://twitter.com/mindmup" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow</a> </li>
            <li>
            <a id="gplus-share" href="https://plus.google.com/u/0/communities/112831595986131146219" target="_blank" data-category="Top Bar" data-event-type="g+ community" data-title="Join MindMup G+ community"  style="text-decoration:none;">
            &nbsp;</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="About" data-event-type="Open">About&nbsp;MindMup&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li> <a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal" data-category="About" data-event-type="One-minute intro"><i class="icon-coffee"></i>&nbsp;One-minute intro</a> </li>
                <li> <a href="#" data-target="#modalVote" data-toggle="modal" data-category="About" data-event-type="Vote on features"><i class="icon-bullhorn"></i>&nbsp;Vote on features</a> </li>
                <li> <a href="#" class="menuterms" data-target="#modalTerms" data-toggle="modal" data-category="About" data-event-type="Legal info"><i class="icon-legal"></i>&nbsp;Legal info</a> </li>
                <li> <a href="http://blog.mindmup.com" target="_blank" data-category="About" data-event-type="News/Blog"><i class="icon-rss"></i>&nbsp;News/Blog</a> </li>
                <li> <a href="http://github.com/mindmup" target="_blank" data-category="About" data-event-type="Source Code"><i class="icon-github-sign"></i>&nbsp;Source Code</a> </li>
                <li> <a href="#" id="menuFeedback" data-target="#modalFeedback" data-toggle="modal" data-category="Feedback" data-event-type="Open" data-label="topbar"><i class="icon-comment"></i>&nbsp;Talk to Us</a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <%= erb :welcome_message %>
    </div>
    <div id="floating-toolbar" class="floating span2 well well-small hidden-phone">
      <span id="toolbarSave" class="hide pull-left">
        <button id="menuPublish" class="btn btn-primary" data-category="Toolbar Click" data-event-type="Save Map">Save Map</button>
      </span>
      <button class="close pull-right" data-category="Toolbar Click" data-event-type="Expand/Collapse"><i class="toggle icon-resize-small"></i></button>
      <div class="toolbar-inner">
        <div class="toolbar" id="toolbarEdit">
          <ul class="unstyled">
            <li>
              <div class="btn-group">
                <button rel="tooltip" data-placement="bottom" data-title="Zoom&nbsp;in" data-category="Toolbar Click" data-event-type="Zoom in" class="btn scaleUp"><i class="icon-zoom-in"></i></button>
                <button rel="tooltip" data-placement="bottom" data-title="Zoom&nbsp;out" data-category="Toolbar Click" data-event-type="Zoom out" class="btn scaleDown"><i class="icon-zoom-out"></i></button>
                <button data-title="Keyboard shortcuts" data-category="Toolbar Click" data-event-type="Keyboard shortcuts" class="btn keyboardShortcuts">
                  <img style="height:18px;" src="//<%=settings.s3_website%>/lib/img/keyboard_20px.png">
                </button>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button id="menuAdd" rel="tooltip" data-placement="bottom" data-title="Add idea" data-category="Toolbar Click" data-event-type="Add idea" class="btn addSubIdea"><i class="icon-signout" ></i></button>
                <button id="menuInsertSibling" rel="tooltip" data-placement="bottom" data-title="Insert Sibling" data-category="Toolbar Click" data-event-type="Insert Sibling" class="btn addSiblingIdea"><i class="icon-download-alt" ></i></button>
                <button id="menuInsertIntermediate" rel="tooltip" data-placement="bottom" data-title="Insert intermediate parent" data-category="Toolbar Click" data-event-type="Insert Intermediate" class="btn insertIntermediate"><i class="icon-signin" ></i></button>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button id="menuEdit" rel="tooltip" data-placement="bottom" data-title="Edit idea" data-category="Toolbar Click" data-event-type="Edit idea" class="btn editNode"><i class="icon-pencil"></i></button>
                <button id="menuCollapse" rel="tooltip" data-placement="bottom" data-title="Expand/collapse idea " data-category="Toolbar Click" data-event-type="Collapse idea" class="btn toggleCollapse"><i class="icon-leaf"></i></button>
                <button id="menuDelete" rel="tooltip" data-placement="bottom" data-title="Delete idea" data-category="Toolbar Click" data-event-type="Delete idea" class="btn removeSubIdea"><i class="icon-remove"></i></button>
              </div>
            </li>
            <li>
              <div id="menuExport" class="btn-group">
                <button data-title="Export" class="btn btn-small dropdown-toggle" data-toggle="dropdown" data-category="Map" data-event-type="Export Open">Export Map&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a rel="nofollow" href="/export/mindmup/<%=@mapid%>" data-category="Map" data-event-type="Export MindMup">MindMup</a> </li>
                  <li><a rel="nofollow" href="/export/freemind/<%=@mapid%>" data-category="Map" data-event-type="Export FreeMind">FreeMind</a> </li>
                  <li><a rel="nofollow" href="#" data-mm-role='png-export' data-category="Map" data-event-type="Export Image">Image (PNG)</a> </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <%= erb :share %>
      </div>
    </div>
    <%= erb :about %>
    <%= erb :vote %>
    <%= erb :display_download %>
    <%= erb :feedback %>
    <%= erb :terms_and_conditions %>
    <%= yield %>
    <div id="fb-root"></div>
    <%= erb :scripts %>
    <script id="main">
      var _gaq = _gaq || [];
      ScriptHelper.tryToNotifyGoogleAnalytics=function(){
        _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);
        _gaq.push(['_trackEvent','Error','Script Load', ScriptHelper.failedScripts().join(';')]);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
      ScriptHelper.showErrorMessage=function(){
        var d=document.createElement("div");
        var c=document.createElement('div');
        d.appendChild(document.createTextNode("Unfortunately, there was an error while loading the JavaScript files required by this page."+
          " This might be due to a temporary network issue or a firewall blocking access to required scripts. "+
          " Please try again later. " +
          " If the problem persists, we'd appreciate if you could contact us at contact@mindmup.com"));
        d.style.position='absolute'; d.style.top='30%'; d.style.left='40%'; d.style.width='20%'; d.style.backgroundColor='#773333'; d.style.color='white'; d.style.fontWeight='bold'; d.style.padding='20px'; d.style.border='3px solid black';
        c.style.position='absolute'; c.style.top=0; c.style.left=0; c.style.width='100%'; c.style.height='100%'; c.style.minHeight='100%'; c.style.backgroundColor='#999999';
        c.appendChild(d);
        document.getElementsByTagName("body")[0].appendChild(c);
	  }
	  showErrors=function(){
        ScriptHelper.showErrorMessage();
        ScriptHelper.tryToNotifyGoogleAnalytics();
      }
	  initMM=function() {
		MM.main({
          googleAnalyticsAccount: '<%= settings.google_analytics_account %>',
          mapUrl: '<%= map_url(@mapid) %>',
          mapId: '<%= @mapid %>',
          scriptsToLoadAsynchronously: ['//www.google-analytics.com/ga.js', '//platform.twitter.com/widgets.js', '//connect.facebook.net/en_US/all.js#xfbml=1'],
         networkTimeoutMillis: <%= settings.network_timeout_millis %>
		});
	  }
	  ScriptHelper.afterLoad({success: initMM, fail:showErrors});
      var switchTo5x = true;
    </script>
  </body>
</html>
