<!DOCTYPE html>
<html lang="en">
  <head>      
    <meta charset="utf-8">
    <title>MindMup Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if settings.online? then %>
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <% else %>
      <link href="/css/offline/bootstrap-combined.min.css" rel="stylesheet">
    <% end %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <%= erb :analytics %>

    <% if settings.online? then %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <% else %>
      <script src="/js/offline/jquery-1.8.3.js"></script>
      <script src="/js/offline/underscore-1.4.3-min.js"></script>
      <script src="/js/offline/bootstrap.min.js"></script>
    <% end %>
  </head>
  <body>
    <div id='topbar' class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MindMup: Zero-friction online mind mapping</a>
          <ul class="nav pull-right nav-collapse">                 
            <li> <a href="#" id="menuFeedback" data-target="#modalFeedback" data-toggle="modal">Talk to Us <i class="icon-comment"></i></a> </li>
            <li> <a href="http://blog.mindmup.com" target="_blank">News/Blog <i class='icon-bullhorn'></i></a></li>
            <li class="menulink"> <div class="fb-like" data-href="http://facebook.com/mindmupapp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div> </li>
            <li class="menulink"> <a href="https://twitter.com/mindmup" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow</a> </li>
            <li> <a href="http://blog.mindmup.com/feeds/posts/default" target="_blank">RSS</a> </li>
          </ul>
        </div>
        <div class="container">

            <ul class="nav pull-left nav-collapse">
              <li><p class="navbar-text"><strong>Edit map:&nbsp; </strong> </p></li>
              <li> <button id="menuAdd" rel='tooltip' title='Add idea' class="btn"><i class="icon-plus" ></i></button> </li>
              <li> <button id="menuEdit" rel='tooltip' title='Edit idea' class="btn"><i class="icon-pencil"></i></button> </li>
              <li> <button id="menuDelete" rel='tooltip' title='Delete idea' class="btn"><i class="icon-remove"></i></button> </li>
              <li> <button id="menuClear" rel='tooltip' title='Clear map' class="btn"><i class="icon-trash"></i></button> </li>
            </ul>
            <span id="toolbarSave" class="hide">
              <ul class="nav nav-pills pull-right">
                <li><p class="navbar-text"><strong>You have unsaved changes.</strong>&nbsp; </p></li>
                <li><button id="menuPublish" class="btn btn-primary">Save Now</button></li>
              </ul>
            </span>
            <span id="toolbarShare" >
              <ul class="nav nav-pills pull-right nav-collapse">
                <li><p class="navbar-text"><strong>Share map:</strong> </p></li>
                <li><span class='st_email_large st_btn' displayText='Email'></span></li>
                <li><span class='st_twitter_large st_btn' displayText='Tweet'></span></li>
                <li><span class='st_facebook_large st_btn' displayText='Facebook'></span></li>
                <li class="dropdown"><button href="#"
                  class="dropdown-toggle btn" style="margin-top:-1px; margin-left:2px; height:32px" data-toggle="dropdown"><i class="icon-th-list"></i> <b class="caret"></b> </button> 
                <div class="dropdown-menu">
                  <span class='st_googleplus_large st_btn' displayText='Google +'></span>
                  <span class='st_reddit_large st_btn' displayText='Reddit'></span>
                  <span class='st_evernote_large st_btn' displayText='Evernote'></span>
                  <span class='st_linkedin_large st_btn' displayText='LinkedIn'></span>
                  <span class='st_pinterest_large st_btn' displayText='Pinterest'></span>
                </div>
                </li>
              </ul>
            </span>
        </div>
      </div>
      <%=welcome_alert%>
    </div>

    <%= erb :alert %>
    <%= erb :feedback %>
    <%= erb :about %>
    <%= erb :terms_and_conditions%>
    <%= yield %>
    <div class="alert bottombar"><button type="button" class="close" data-dismiss="alert">×</button>
      <p><a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal">About this project</a> | 
      <a href="" class="menuterms"  data-target="#modalTerms" data-toggle="modal">Site terms & conditions</a> |  
       <a href="#" class="menuFeedback" data-target="#modalFeedback" data-toggle="modal">Contact us</a>  | 
       <a href="http://blog.mindmup.com" target="_blank">Project News/Blog</a></li>
      </p>
    </div>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({tracking:'google',publisher: "<%=ENV["SHARETHIS_PUB"]%>"});</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
  </body>
</html>
