

		<%=s3_javascript_config %>
   <input id="s3_image_file" class="btn btn-mini" type="file" name="file"
  onclick="setup_s3_upload(this, s3_url,
  '#uploaded_image', '#status_upload', '/picol/upload_128.png', 
  '#avatar_hidden',s3_params,s3_policies, s3_upload_extensions)"/>
   </input>
   <br clear="all" />
		</form>
	 <hr/>
	
	<%
		 valid_upload_extensions= ['txt']
		 upload_path=settings.s3_upload_folder+"/"
		 s3_result_url="/"
		 signer=S3PolicySigner.new
	 	 policy=signer.signed_policy settings.s3_secret_key, settings.s3_key_id, settings.s3_bucket_name, upload_path, 		s3_result_url, settings.s3_max_upload_size*1024, "text/plain", settings.s3_form_expiry
	
	%>
  <h3>Raw S3</h3>
  <form action="https://mindmup.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
  <input type="hidden" name="key" value="test/test.txt">
		<input type="hidden" name="AWSAccessKeyId" value="<%=ENV['S3_KEY_ID']%>"> 
  <input type="hidden" name="acl" value="public-read"> 
		<input type="hidden" name="success_action_redirect" value="<%=ENV['SITE_URL']%>/">
		<input type="hidden" name="policy" value="<%=policy[:policy]%>">
		<input type="hidden" name="signature" value="<%=policy[:signature] %>">
  <input type="hidden" name="Content-Type" value="text/plain">
  <!-- Include any additional input fields here -->

  File to upload to S3: 
  <input name="file" type="text"/> 
  <br> 
  <input type="submit" value="Upload File to S3"> 
</form>